general:
  buildTool: npm
  productiveBranch: main

stages:
  Build:
    buildExecute: true
    npmExecuteLint: false
  Acceptance:
    kubeConfigFileCredentialsId: kubeConfigFileCredentialsId
    deployTool: 'helm3'
    deploymentName: 'bookshop-mta'
    namespace: 'i528716-pipeline'
    kubernetesDeploy: true
    npmExecuteScripts: false
    unstash: ['securityDescriptor']

steps:
  npmExecuteScripts:
    runScripts:
      - "production-build"
      - "ui-build"
  buildExecute:
    npmRunScripts: [ 'production-build', 'ui-build' ]
    npmInstall: false
    cnbBuild: true
    helmExecute: true
  pipelineStashFilesAfterBuild:
    stashIncludes:
      securityDescriptor: '**/xs-security.json, **/gen/chart/**'
  cnbBuild:
    dockerImage: 'proxy-unified-runtime-dmz.int.repositories.cloud.sap/builder/jammy:latest'
    dockerConfigJsonCredentialsId: dockerConfigJsonCredentialsId
    containerImageTag: latest
    containerRegistryUrl: 'content-agent.common.repositories.cloud.sap'
    multipleImages:
#      - containerImageName: i528716/incidents/bookshop-mta-srv
#        path: gen/srv
#        buildpacks:
#          - 'docker.io/paketobuildpacks/nodejs'
#      - containerImageName: i528716/books-mta/bookshop-mta-hana-deployer
#        path: gen/db
      - containerImageName: i528716/books-mta/bookshop-mta-html5-deployer
        buildpacks:
          - 'deploy-releases-hyperspace-docker.common.repositories.sapcloud.cn/buildpacks/application-content-deployer-buildpack:1.1.0'
  helmExecute:
    chartPath: ./gen/chart
    dependency: update
    templateStartDelimiter: "[["
    templateEndDelimiter: "]]"
  kubernetesDeploy:
    chartPath: './gen/chart'
    deploymentName: 'cidcd-bookshop'
    namespace: 'i528716-pipeline'
    deployTool: 'helm3'
    additionalParameters:
      - "--set-file"
      - "xsuaa.jsonParameters=./xs-security.json"

  artifactPrepareVersion:
    gitSshKeyCredentialsId: 'gitSshKeyCredentialsId'